<ion-header no-border>
  <ion-toolbar color="danger">
    <ion-title>Sugerencias</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content style="text-align: center;">
  <ion-card>
    <ion-item>
      <ion-input [(ngModel)]="email" type="text" placeholder="Correo electronico.."></ion-input>
    </ion-item>
    <ion-label>opcional</ion-label> 
  </ion-card>

  <ion-card>
    <ion-item>
      <ion-input [(ngModel)]="user" type="text" placeholder="Nombre.."></ion-input>
    </ion-item>
    <ion-label>opcional</ion-label> 
  </ion-card>

  <ion-card>
    <ion-item>
      <ion-textarea [(ngModel)]="message" style="height: 200px;" placeholder="Dudas o sugerencias"></ion-textarea>
    </ion-item>
  </ion-card>

  <ion-button color="danger" (click)="saveMessage()">
    Enviar
  </ion-button>
</ion-content>
