<ion-header no-border>
  <ion-toolbar mode="ios" color="danger">
    <ion-title><h1>InformAT</h1></ion-title>
  </ion-toolbar>
</ion-header>

<ion-content color="danger" style="text-align: center;">
  <h1 style="font-size: 34px;">Bienvenido ciudadano</h1><br>
  <ion-label style="font-size: 15px;">Consulta información que, por ley, las instituciones públicas del país publican de una manera clara y organizada, sientete con la libertad de enviar tus quejas por falta de informacion y recuerda que puedes apoyarte en tu busqueda de informacion mediante nuestro bot</ion-label>
</ion-content>

<ion-footer no-border>
  <ion-toolbar color="danger">
    <ion-button color="danger" expand="full" size="large" routerLink="/home">
      Continuar ->
    </ion-button>
  </ion-toolbar>
</ion-footer>
