<ion-content>
  <div style="width: 250px; height: 70px; z-index: 1; position: absolute; margin-top: 30px;">
    <ion-input
      [(ngModel)]="name" 
      type="text" 
      placeholder="Buscar"
      style="font-size: 30px; margin: 0 20px; border-radius: 10px; background: white;">
      <span>
        <ion-button color="danger" (click)="searchPlace()" style="float:right; margin-left: 10px;">
          <ion-icon slot="icon-only" name="search"></ion-icon>
        </ion-button>
      </span>
    </ion-input>
    
  </div>
  <div style="width: 100%; height: 100%; z-index: -1;" id="map"></div>

  <ion-fab vertical="bottom" horizontal="start" slot="fixed">
    <ion-fab-button color="danger">
      <ion-icon name="chatboxes"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>
